@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "checkbox";
@import "button";
@import "filter";
@import "header";
@import "home";
@import "nav";
@import "table";
@import "form";


.cursor-pointer {
  cursor: pointer;
}

body {
  background: #e8ecef;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

input, .input-group-text {
  background-color: #e4e8eb !important;
  border: 0 !important ;
  border-top: solid 1px #d3d8db !important;
  border-radius: 0 !important;
  color: white !important;
}

input {
  color: #9ca8af !important;
  font-size: 14px !important;
}